<div class="reset-password">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onResetPassword()" #resetForm="ngForm">
      <input
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
        placeholder="Enter New Password" />
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        placeholder="Confirm New Password" />
      <button type="submit" [disabled]="!resetForm.valid">Reset Password</button>
    </form>
    <p *ngIf="message" [ngClass]="messageClass">{{ message }}</p>
  </div>
  