.login-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 23%);
}

.login-box input {
  padding: 8px;
  font-size: 14px;
}

.login-box .btn {
  padding: 10px;
  font-size: 16px;
  background-color: #b8860b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-box .btn:hover {
  background-color: #a57c00;
}
